language: c
matrix:
  include:
    - os: linux
      sudo: required
      before_script:
        - wget http://ftp.gnu.org/gnu/make/make-4.2.1.tar.gz
        - tar -xf make-4.2.1.tar.gz
        - cd make-4.2.1
        - ./configure --prefix=/usr
        - sudo make install
        - cd ..
        - sudo apt-get install imagemagick
      script:
        - make test
    - os: osx
      before_script:
        - brew install bison
        - brew link bison --force
        - brew install make --with-default-names
        - brew install imagemagick
        - brew install openssl
      script:
        - make CLIBS="-L/usr/local/opt/openssl/lib -I/usr/local/opt/openssl/include -Ilib -lm -lcrypto"
        - make test

